body {
  margin: 0;
  background-color: #f8f9fa;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 